@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
  font-family: 'Inter', sans-serif;
}

.search{
  color: #C2F23B;
  background-color: #1E1E20;
  font-size: 24px;
  border: 2px;
  border-style: solid;
  border-color: #C2F23B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  border-radius: 30px;
  width: 400px;
  height: 70px;
  margin-bottom: 105px;
  margin-left: 80px;
  filter: drop-shadow(0px 0px 54px rgba(194, 242, 59, 0.50));
}

.search::placeholder {
  color: #C2F23B;
}

.fx {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  gap: 2.5rem;
}

.tvw {
  height: 525px;
  width: 965px;
  background-color: #1E1E20;
  border-radius: 8px;
}

.tvtech {
  height: 525px;
  width: 400px;
  background-color: #1E1E20;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 8px;
}

.tape {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1E1E20;
  border-radius: 8px;
}

.time {
  height: 100%;
  width: 100v;
  background-color: #1E1E20;
  margin-right: 3.2rem;
  margin: 3.2rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 8px;
}

.srch{
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-left: 2rem;
  z-index: 1;
  background-color: #1E1E20;
  height: 65px;
  width: 65px;
  font-size: 24px;
  border: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #C2F23B;
}

.eps{
  display: flex;
  border-radius: 8px;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #1E1E20;
}

.q1q2, .q3q4 {
  flex-flow: column wrap;
}

.q1, .q2, .q3, .q4 {
  display: flex;
  margin: 1rem;
  width: 600px;
  height: 100px;
  background-color: #161616;
  border-radius: 8px;
  border-width: 2px;
  border-color: #222223;
}

.divider {
  height: 98px;
  width: 1.5px;
  background-color: #222223;
}